.cls-1 {
    fill: #111c30;
  }

  .cls-2 {
    fill: #eee;
  }

  .cls-3, .cls-4, .cls-5 {
    fill: #725236;
  }

  .cls-4, .cls-5 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-5 {
    stroke-width: 2px;
  }

  .cls-6 {
    fill: #415d2a;
  }